
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
    color: #121212;
}

body{
    width: 85%;
    margin: 40px auto;

}
form input{
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px 12px;
}

.btn{
    background: #22acac;
    border: none;
    color: #fff;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}